/*
    再生中の曲を表示するCSS (幅601px以上)
    OBSのブラウザソースにLive PlaylistのURLを設定, CSSにこのファイル内容をコピペ
    このCSSは"""幅を601px以上に指定した場合"""に有効です

*/

/* ---再生中の曲表示のスタイル--- */
.row{
	/* 背景 */
	background-color: rgba(0, 0, 0, 0) !important;
}
/* [要素指定厳守] 文字色 */
section[data-page=playlist] .tracklist-area .row.on .artist,
section[data-page=playlist] .tracklist-area .row.on .name,
section[data-page=playlist] .tracklist-area .row.on .time,
section[data-page=playlist] .tracklist-area .row.on .title {
	/* 文字色 */
    color: white !important;	
    white-space: nowrap;  /* 折り返し無効 */
}

section[data-page=playlist] .tracklist-area .row.on .title{
    /* 曲名の文字サイズ */
	font-size: 35px;
}

section[data-page=playlist] .tracklist-area .row.on .artist{
    /* アーティスト名の文字サイズ */
	font-size: 27px;
}

/* 開発者向け */
/*---------------------------------------------------------*/
/* 全体 */
body { 
	background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 全体マージンを削除 */
#body {
    margin: 0;
}

/* 不要な要素を除外 */
header, div#fix-menu, .info-area, h3, .button-row, .off, .link {
    display: none;
}

/* 再生時時刻を削除 */
section[data-page=playlist] .tracklist-area .row.on .time{
	display: none;
}

/* 余白を削除 */
.frame {
    padding: 0;
}
.frame>.r {
    margin-left: 0;
}

/* 文字が隠れないように */
.page-group {
    overflow: visible;
}

/*---------------------------------------------------------*/
